#section_1 {
  background-color: #cab8b7;
  margin: 0%;
}

#section_2 {
  background-color: #b5a5a4;
}

.tekst {
  background-color: rgb(255, 255, 255, 0.5);
  margin: 2%;
  padding: 5%;
}

@media (min-width: 860px) {
  .wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }

  .wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5%;
  }
}

.PP {
  font-size: 1rem;
  text-decoration: underline;
}

.footer {
  margin: -15px;

  padding-inline: 10%;
  background-color: #a59190;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.5);
}
