img {
  max-width: 100%;
}

/* ------------------------------------------------ header -------------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
}
.toggle-btn {
  /*padding-inline: 5%;*/
}
header {
  background-color: #e0e0e2;
}
header .hjem {
  text-align: center;
  padding-top: 2%;
}
.hjem a {
  font-size: 2rem;

  /*font-family: "Bodino moda", serif;*/
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  gap: 20px;
}

a {
  text-decoration: none;
  /*font-weight: bold;
  font-family: "Oranienbaum", serif;*/
  font-size: 1.5rem;
  color: black;
}

body {
  margin: 0%;
}
