img {
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin-top: 0;
  padding-top: 4%;
}

.knap a {
  border: solid white 2px;
  padding-block: 2%;
  padding-inline: 10%;
  background-color: #dacfcf;
  /*background-color: #fabb9c;*/
  border-radius: 20px;
  font-size: 1rem;
}

.knap {
  margin-top: 10%;
  text-align: center;
}

/* ------------------------------------------------ header -------------------------------------------- */
/* burgermenu */
.toggle-btn {
  display: none;
}

.toggle-btn {
  /*padding-inline: 5%;*/
}
header {
  background-color: #e0e0e2;
}
header .hjem {
  text-align: center;
  padding-top: 2%;
}
.hjem a {
  font-size: 2rem;

  /*font-family: "Bodino moda", serif;*/
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  gap: 20px;
  margin-bottom: 0%;
}

a {
  text-decoration: none;
  /*font-weight: bold;
  font-family: "Oranienbaum", serif;*/
  font-size: 1.5rem;
  color: black;
}

body {
  margin: 0%;
}
